
body {
	background-color: #ffe6e6;
	text-align: center;
}


h1 {
	text-align: center;
}

.container {
	background-color: darkred;
	padding: 70px;
	margin-top: 40px;
	margin-bottom: 10px;
	border-radius: 100px;
}